@font-face {
  font-family: "Cairo";
  src: url("Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  text-rendering: optimizeLegibility;
}
html {
  background-image: url("../img/img2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
body {
  font-family: "Cairo", sans-serif;
  text-rendering: optimizeLegibility;
  direction: rtl;
}
.clr {
  clear: both;
}
#HomePage {
  width: 95%;
  margin: auto;
  padding-top: 150px;
}
footer {
  width: 100%;
  padding-bottom: 20px;
}
.inpu {
  padding: 7px;
  border: 1px solid #00b5cc;
  border-radius: 35px;
  text-align: center;
  width: 400px;
  margin-bottom: 15px;
}
.button {
  background-color: #00b5cc; /* Green */
  border: none;
  border-radius: 30px;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 170px;
}
.button:hover {
  background-color: #0ab28b; /* Green */
}
.aid-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Cairo", sans-serif;
  width: 60%;
  margin-bottom: 10px;
  opacity: 0.8;
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .aid-text {
    font-size: 18px;
    width: 90%;
  }
  #HomePage {
    width: 95%;
    margin: auto;
    padding-top: 0px;
    margin-top: 50px;
  }
  .inpu {
    border: 1px solid #00b5cc;
    border-radius: 35px;
    text-align: center;
    width: 80%;
  }
  footer {
    width: 100%;
    font-size: 12px;
  }
}
